%h1= @title
%p= "#{plugins.keys.size} plugins loaded"
%ul
  - plugins.keys.sort.each do |name|
    - plugin = plugins[name]
    %li
      %legend
        %a{:href => url(plugin)}= plugin.name
      %label= plugin.meta[:description]
