%div.hero-unit
  %h1= @title
  %p Write Ruby Code, put it into plug-in directory. FishBowl automatically generate sample code and Web UI.

%h2 Enabled Plug-ins
%p= "#{plugins.keys.size} plug-ins loaded"
%ul
  - plugins.keys.sort.each do |name|
    - plugin = plugins[name]
    %li
      %legend
        %a{:href => url(plugin)}= plugin.name
      %label= plugin.meta[:description]

%h2 Path
%ul
  - Plugin.dirs.each do |d|
    %li= "#{d}/"

%h2 Make your Plug-in
%p
  see
  %a{:href => "https://github.com/shokai/fishbowl/tree/master/plugins"} samples.
