%div.hero-unit
  %h1= @title
  %p Write Ruby Code, put it into plug-in directory. Bowl automatically generate sample code and Web UI.

%h2 Enabled Plug-ins
%p= "#{plugins.values.select{|i|i.kind_of? Plugin}.size} plug-ins loaded"
%ul
  - plugins.keys.sort.each do |name|
    - plugin = plugins[name]
    - if plugin.kind_of? Plugin
      %li
        %legend
          %a{:href => url(plugin)}= plugin.name
        %label= plugin.meta[:description]
    - elsif plugin.kind_of? Error
      %li
        %legend= name
        %label= "Error!! : #{plugin.message} at #{Plugin.list[name]}"

%h2 Path
%ul
  - Plugin.dirs.each do |d|
    %li= "#{d}/"

%h2 Make your Plug-in
%p
  see
  %a{:href => "https://github.com/shokai/bowl/tree/master/plugins"} samples.
